<section class="container mt-5">
    <app-categoty-dropdown></app-categoty-dropdown>
    <div class="row justify-content-xxl-around justify-content-lg-around justify-content-md-around justify-content-sm-center justify-content-center gy-5">
        <div style="width: 350px;" *ngFor="let product of products" >
            <!-- [ngClass]="{'d-none':product.quantity === 0 || (product.categoryId != selectedCategory && selectedCategory > 0)}" -->
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
    <app-total-price></app-total-price>
</section>